.clear {
    clear: both;
}

html {
    overflow-y:scroll;
}

/* light */
body { 
    color: #444;
    font-family: arial;
}

/* dark */
body { 
    background:#000;
    color: #CECECE;
    font-family: arial;
}

a {
    color: #88B2E2;
}

#container { 
    width: 960px;
    margin: auto;
    /* background-color: #eee; */
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    margin: 6px 0 12px 0;
}
 

h1 a {
    color: #eee;
    text-decoration: none;
}

.grid_4 {
    display: inline;
    width: 220px;
    float: left;
    margin: 10px;
}

.grid_2 {
    display: inline;
    width: 460px;
    float: left;
    margin: 10px;
}

#uptime {
    font-size: 16pt;
    margin: auto 0;
}
    

#index-summary h3 {
    font-size: 10pt;
    color: #fff; 
    margin-bottom: 6px; 
    letter-spacing: 1.8pt;
    font-weight: bold;
    padding: 6px 2px;
}

#index-summary span {
    font-weight: bold;
    float: right;
}

.btn-dark {
    background: #000;
    color: #eee;
}

.small-btn {
    padding: 2px;
}

.large-btn {
    padding: 4px;
    margin: 8px 0 0 12px;
}

#process-list {
    width: 340px;
}

#process-list li {
    margin: 12px 0 ;
    font-size: 12pt;
}

#process-list button {
    float: right;
}

.circle-canvas {
    width: 218px;
    border: 1px solid #eee;
    background: #000C11;
}

#detail-list ul li {
    font-weight: bold;
}

#detail-list ul li ul {
    margin: 0 0 12px 0;
}

#detail-list ul li ul li {
    font-weight: normal;
}

#detail-list ul li ul {
    margin: 0 0 0 24px;
}



progress,          /* All HTML5 progress enabled browsers */
progress[role]     /* polyfill */
{
	/* Turns off styling - not usually needed, but good to know. */
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	/* gets rid of default border in Firefox and Opera. */
	/* border: none; */

	/* Needs to be in here for Safari polyfill so background images work as expected. */
	background-size: auto;

	/* Dimensions */
	width: 216px;
	height: 8px;

}

/* Polyfill */
progress[role]:after {
	background-image: none; /* removes default background from polyfill */
}

/* Ensure fallback text doesn't appear in polyfill */
progress[role] strong {
	display: none;
}


