{% extends "base.html" %}

{% block body %}

<div id="index-progress-bars">
{% for k,v in sorted(progress_data.iteritems()) %}
  {% module ProgressModule(k,v) %}
{% end %}
</div>

<div class="clear"></div>

<div>
  {% module GraphModule() %}
</div>

<div class="clear"></div>


<div class="clear"></div>
<button onclick="updateTopProcess()">TOP PROCESSES</button>

<ul id="top-processes"></ul>

<!-- for progress bars data -->
<script src="{{ static_url("js/loadprogress.js") }}"></script>
<script src="{{ static_url("js/loadtopprocess.js") }}"></script>

{% end %}

