{% extends "base.html" %}

{% block body %}

<div id="index-summary">
{% for k,v in sorted(summary_data.iteritems()) %}
  {% module SummaryModule(k,v) %}
{% end %}
</div>

<div class="clear"></div>

<button onclick="updateTopProcess()">TOP PROCESSES</button>

<div class="clear"></div>

<div class="grid_2">
<ul id="process-list">
</ul>
</div>

<div class="grid_2">
<div id="detail-list">
</div>
</div>



<div class="clear"></div>

<!-- for progress bars data -->
<script src="{{ static_url("js/common.js") }}"></script>
<script src="{{ static_url("js/summary.js") }}"></script>
<script src="{{ static_url("js/topprocess.js") }}"></script>

{% end %}

