{% extends "base.html" %}

{% block body %}

<div class="grid_2">
<h1 id="test-h1"><a href="/">Server Monitor Mach1</a></h1>
</div>


<div class="grid_2">

  <h3 id="system">
  <span>SYSTEM: </span>{{ platform[0] }}
  <span>RELEASE: </span>{{ platform[2] }}
  <span>PROCESSOR: </span>{{ platform[4] }}
  <span>NODE: </span>{{ platform[1] }}
  </h3>

  <h3 id="uptime">{{ uptime }}</h3>

</div>


<div class="clear"></div>

<div id="index-summary">
{% for k,v in sorted(summary_data.iteritems()) %}
  {% module SummaryModule(k,v) %}
{% end %}
</div>

<div class="clear"></div>

<button class="large-btn btn-dark" onclick="updateTopProcess(10)">TOP 10 PROCESSES</button>
<button class="large-btn btn-dark" onclick="updateTopProcess('ALL')">ALL PROCESSES</button>
<button class="large-btn btn-dark" onclick="clearTopProcess()">CLEAR PROCESSES</button>

<div class="clear"></div>

<div class="grid_2">
<ul id="process-list">
</ul>
</div>


<div class="grid_2">
<div id="detail-list">
</div>
</div>

<div class="clear"></div>

<!-- for progress bars data -->
<script src="{{ static_url("js/common.js") }}"></script>
<script src="{{ static_url("js/summary.js") }}"></script>
<script src="{{ static_url("js/topprocess.js") }}"></script>

{% end %}

